.about-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(100deg, #e99bf5, #5ed2ea);
}
.about-heading {
    font-size: 54px;
    text-align: center;
    padding-top: 20px;
    color: rgb(13, 13, 13);
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
}
.about-main {
    margin: auto;
    width: 70%;
}
.about-content {
    color: rgb(12, 12, 12);
    font-size: 18px;
}
.developer-info h2 {
    color: rgb(12, 12, 12);
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    text-decoration: underline;
}
.developer-info h4 {
    color: rgb(12, 12, 12);
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    text-decoration: underline;
}
.about-content a,
.developer-info a {
 color: white;  
}
